body {
  background-color: #dbe5e6;
}


h1 {
  text-align: center;
  background-color: grey;
  color:  rgb(4, 160, 144);
}

h2 {
  color:  rgb(4, 160, 144);
}

h3 {
  color:  rgb(4, 160, 144);
}
h4 {
  color: rgb(4, 160, 144);
}
h5 {
  color: black;
}

p {
  font-size: 15px;
  color: gray;
}

.container {
  background-color: white;
  width: 100%;
  opacity: 1;
  margin-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}
.row {
  margin-right: -20px;
  margin-left: -20px;
}

.nav-item{
  align-items: flex-end;
}
.nav-item:hover{
  background-color: teal;
}
.dropdown-item:hover{
  background-color: teal;
}
.navbar .navbar-brand{
  text-emphasis-color: white;
  color: white;
  margin-left: 35px;
  padding: inherit;
  font-weight: bold;
  background-color: teal;
}
footer {
  text-align: left;
  padding: 3px;
  background-color: rgb(212, 209, 209);
  color: teal;
}